/* Declaración de variables:
    * En esta parte se definen las variables globales de los colores
    * Para poder agregar temas y otras    
*/

:root{
  --colors1-1: rgb(255, 255, 255);
  --colors2-1: rgb(83, 226, 133);
  --colors3-1: rgb(217, 18, 18);
  --colors4-1: rgb(240, 71, 14);
  --colors5-1: rgb(136, 67, 214);
  --colors6-1: rgb(226, 216, 83);
  --colors7-1: rgb(31, 93, 175);
  --colors8-1: rgb(83, 200, 226);
}

/*
  Sección general:
    * En esta seccion van todas las etiquetas sin clase o id
    * Un ejemplo diseño para etiqueta a, div, span, etc.
*/

*{
  box-sizing: border-box;
}

body{
  background-color: var(--colors1-1);
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
  font-family: 'Garamond', 'Cambria', Arial, sans-serif;
}

section{
  height: 100vh;
  width: 100vw;
  padding-left: 5vw;
  padding-top: 10vh;
}

.barra{
  background-color: brown;
  border: 2px solid brown;
}

/* Clases: 
    * En esta sección van las clases solas
    * Si van con algún elemento de sección irán con la sección correspondiente
*/

.contenido{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.borde{
  border-radius: 20px;
  border-style:dashed;
  border: 2px solid var(--colors3-1);
}

.contenedor{
  width: 90vw;
  height: 80%;
  text-align: justify;
  justify-content: center;
}
/* Presentación:
    * En esta sección se realiza el diseño del nombre cargo y foto
    * La sección de presentación
*/

.pre{
  display: flex;
  gap: 20vw;
}

.foto{
  width: auto;
  height: auto;
}

#foto{
  border-radius: 20% 10%;
  height: 60vh;
}

.desc{
  float: right;
  width: auto;
}

#nombre{
  font-size: 5vw;
  text-align: center;
}

#descrip{
  font-size: 5vh;
  color: var(--colors3-1);
  text-align: center;
}

/* Experiencia:
    * En esta sección se realiza el diseño de la experiencia laboral
    * La explicación de qué he hecho
*/

.ex{
  
}

.titulo{
  font-size: 6vh;
}

#exp-info{
  padding: 10px;
}

.titulo-exp{
  font-size: 5vh;
}

.enfasis{
  font-weight: bold;
  content: "+";
}

.enfasis-2{
  font-weight: bold;
  font-style:initial;
  
}
.info-exp{
  font-size: 3vh;
}

/* Ajustes a menor pantalla*/
@media (max-width: 500px){
  section{
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-top: 0;
  }

  .foto{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pre{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    gap: 0vw;
  }
  
  #foto{
    border-radius: 20% 10%;
    width: 60vw;
    height: auto;
  }

  #nombre{
    font-size: 5vh;
  }

  #descrip{
    font-size: 4vh;
  }
}